.cm-s-darcula.CodeMirror {
	background-color: #2B2B2B !important;
	color: #A9B7C6 !important;
	border: none;
}

.cm-s-darcula .CodeMirror-cursor {
	border-left: solid thin #FFFFFF;
}

.cm-s-darcula .CodeMirror-focused .CodeMirror-selected {
	background: #E61410; !important;
}

.cm-s-darcula span.cm-critical {
	color: #FF0000;
	font-weight: bold;
}

.cm-s-darcula span.cm-intervalchange {
	color: #cc6600;
	font-weight: bold;
}

.cm-s-darcula span.cm-info {
	color: #00AAFF;
	font-weight: bold;
}

.cm-s-darcula span.cm-info2 {
	color: #497C93;
	font-weight: bold;
}

.cm-s-darcula span.cm-info3 {
	color: #BB5566;
	font-weight: bold;
}

.cm-s-darcula span.cm-neglect {
	color: #A9B7C6;
}

.cm-s-darcula span.cm-blank {
	color: #FF0000;
}