.cm-s-default.CodeMirror {
	background-color: #FFFFFF !important;
	color: #000000 !important;
	border: none;
}

.cm-s-default .CodeMirror-cursor {
	border-left: solid thin #000000;
}

.cm-s-default .CodeMirror-focused .CodeMirror-selected {
	background: #E61410; !important;
}

.cm-s-default span.cm-critical {
	color: #FF0000;
	font-weight: bold;
}

.cm-s-default span.cm-intervalchange {
	color: #cc6600;
	font-weight: bold;
}

.cm-s-default span.cm-info {
	color: #0000FF;
	font-weight: bold;
}

.cm-s-default span.cm-info2 {
	color: #295c93;
	font-weight: bold;
}

.cm-s-default span.cm-info3 {
	color: #993366;
	font-weight: bold;
}

.cm-s-default span.cm-neglect {
	color: #444444;
}

.cm-s-default span.cm-blank {
	color: #FF0000;
}