.cm-s-default.CodeMirror {
	background-color: #FFFFFF !important;
	color: #000000 !important;
	border: none;
}

.cm-s-default .CodeMirror-cursor {
	border-left: solid thin #000000;
}

.cm-s-default .CodeMirror-focused .CodeMirror-selected {
	background: #E61410; !important;
}

.cm-s-default span.cm-neglect {
	color: #444444;
}


.cm-s-default span.cm-critical {
	color: #FF0000;
	font-weight: bold;
}

.cm-s-default span.cm-info1 {
	color: #0000FF;
	font-weight: bold;
}

.cm-s-default span.cm-info2 {
	color: #295c93;
	font-weight: bold;
}

.cm-s-default span.cm-info3 {
	color: #993366;
	font-weight: bold;
}

.cm-s-default span.cm-info4 {
	color: #cc6600;
	font-weight: bold;
}

.cm-s-default span.cm-info5 {
	color: #56DC3B;
	font-weight: bold;
}

.cm-s-default span.cm-info6 {
	color: #6F68FC;
	font-weight: bold;
}

.cm-s-default span.cm-info7 {
	color: #A5BC0E;
	font-weight: bold;
}

.cm-s-default span.cm-info8 {
	color: #FC35C9;
	font-weight: bold;
}


.cm-s-default span.cm-info9 {
	color: #6848B0;
	font-weight: bold;
}

.cm-s-default span.cm-info10 {
	color: #8C5BFC;
	font-weight: bold;
}

.cm-s-default span.cm-info11 {
	color: #B0254B;
	font-weight: bold;
}

.cm-s-default span.cm-info12 {
	color: #FC4275;
	font-weight: bold;
}