/*

    Name:       Isotope
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-isotope.CodeMirror {background: #000000; color: #e0e0e0;}
.cm-s-isotope div.CodeMirror-selected {background: #404040 !important;}
.cm-s-isotope .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-isotope .CodeMirror-linenumber {color: #808080;}
.cm-s-isotope .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-isotope span.cm-neglected {color: #3300ff;}
.cm-s-isotope span.cm-critical {color: #ff0000; font-weight:bold;}
.cm-s-isotope span.cm-info1 {color: #cc00ff; font-weight:bold;}
.cm-s-isotope span.cm-info2 {color: #33ff00; font-weight:bold;}
.cm-s-isotope span.cm-info3 {color: #ff0099; font-weight:bold;}
.cm-s-isotope span.cm-info4 {color: #33ff00; font-weight:bold;}
.cm-s-isotope span.cm-info5 {color: #0066ff; font-weight:bold;}
.cm-s-isotope span.cm-info6 {color: #ff9900; font-weight:bold;}
.cm-s-isotope span.cm-info7 {color: #cc00ff; font-weight:bold;}
.cm-s-isotope span.cm-info8 {color: #33ff00; font-weight:bold;}
.cm-s-isotope span.cm-info9 {color: #ff0099; font-weight:bold;}
.cm-s-isotope span.cm-info10 {color: #33ff00; font-weight:bold;}
.cm-s-isotope span.cm-info11 {color: #0066ff; font-weight:bold;}
.cm-s-isotope span.cm-info12 {color: #ff9900; font-weight:bold;}


.cm-s-isotope .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-isotope .CodeMirror-activeline-background { background: #202020; }
