/* Based on arcticicestudio's Nord theme */
/* https://github.com/arcticicestudio/nord */

.cm-s-nord.CodeMirror { background: #2e3440; color: #e8eef9; }
.cm-s-nord div.CodeMirror-selected { background: #434c5e; }
.cm-s-nord .CodeMirror-line::selection, .cm-s-nord .CodeMirror-line > span::selection, .cm-s-nord .CodeMirror-line > span > span::selection { background: #3b4252; }
.cm-s-nord .CodeMirror-line::-moz-selection, .cm-s-nord .CodeMirror-line > span::-moz-selection, .cm-s-nord .CodeMirror-line > span > span::-moz-selection { background: #3b4252; }
.cm-s-nord .CodeMirror-gutters { background: #2e3440; border-right: 0px; }
.cm-s-nord .CodeMirror-guttermarker { color: #4c566a; }
.cm-s-nord .CodeMirror-guttermarker-subtle { color: #4c566a; }
.cm-s-nord .CodeMirror-linenumber { color: #4c566a; }
.cm-s-nord .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-nord span.cm-neglect { color: #8c96aa; }
.cm-s-nord span.cm-info1 { color: #b48ead; font-weight: bold;}
.cm-s-nord span.cm-info2 { color: #97b757; font-weight: bold;}
.cm-s-nord span.cm-info3 { color: #bc9262; font-weight: bold;}
.cm-s-nord span.cm-info4 { color: #81A1C1; font-weight: bold;}
.cm-s-nord span.cm-info5 { color: #5998a6; font-weight: bold;}
.cm-s-nord span.cm-info6 { color: #8FBCBB; font-weight: bold;}
.cm-s-nord span.cm-critical { color: #bf616a; font-weight: bold;}
.cm-s-nord span.cm-info7 { color: #A3BE8C; font-weight: bold;}
.cm-s-nord span.cm-info8 { color: #d8dee9; font-weight: bold;}
.cm-s-nord span.cm-info9 { color: #bc6283; font-weight: bold;}
.cm-s-nord span.cm-info10 { color: #b48ead; font-weight: bold;}
.cm-s-nord span.cm-info11 { color: #97b757; font-weight: bold;}
.cm-s-nord span.cm-info12 { color: #bc9262; font-weight: bold;}

.cm-s-nord .CodeMirror-activeline-background { background: #3b4252; }
.cm-s-nord .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
