// Max number of character per line before line wrap happens
var maxColumnPerLine = 80;

// replace empty string with theme name if needed
// example: 
//		var defaultCodemirrorTheme = "dracula";	
var defaultEditorTheme = "";	

